.product-list {
    display: flex;
    flex-direction: column;
}

.product {
    margin: 8px;
    width: 200px;
    height: 180px;
    border-bottom: 1.5px solid black;
    padding-bottom: 16px;
}


.product__category {
    background: #EEEEEE;
    line-height: 30px;
    width: 150px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product__category p {
    margin-top: 0;
}

.product__name,
.product__category,
.product__targets,
.product__ampm {
    padding: 0 8px;
}

.product:last-child {
    border-right: none;
}

.product__targets {
    font-size: 11px;
    list-style-type: none;
    margin-bottom: 32px;
}

.product__targets li::before{
    content: "\2014";
    margin-right: 8px;
}

.product__targets li {
    margin-bottom: 8px;
}

.selected {
    background: #000;
}

.selected .product__name,
.selected .product__targets,
.selected .product__targets li::before {
    color: #FFF;
}

.product__ampm {
    display: flex;
    flex-direction: row;
}

.product__ampm img {
    width: 30px;
    margin-right: 8px;
}


.hide {
    display: none;
}

.button__plus {
    outline: none;
    border: none;
    background: none;
    padding: 12px 20px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 140px;
    bottom: 40px

}

.button__plus svg {
    width: 20px;
    height: 20px;
}

.button__plus svg path {
    fill: #DD7373;
}

.product-modal {
    width: 500px;
    height: 500px;
    z-index: 9999;
    position: absolute;
    left: 40%;
    top: 20%;
    background: white;
    border: 1.5px solid black;
    -webkit-box-shadow: 10px 10px 0px 5px #DD7373;; 
    box-shadow: 10px 10px 0px 5px #DD7373;;
    border-radius: 4px;
    padding: 16px 32px;
}

.product-modal__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

button > svg {
    pointer-events: none;
  }


  .routine .product {
      background: white;
      border-bottom: none;
      height: 200px
  }

  .routine .routine__products {
   display: flex;
   align-items: center;
}

.product__category {
    display: none;
}

.routine .product__category {
    display: block;
}