.product-list {
    display: flex;
    flex-direction: column;
}

.product {
    margin: 8px;
    width: 200px;
    height: 180px;
    border-bottom: 1.5px solid black;
    padding-bottom: 16px;
}


.product__category {
    background: #EEEEEE;
    line-height: 30px;
    width: 150px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product__category p {
    margin-top: 0;
}

.product__name,
.product__category,
.product__targets,
.product__ampm {
    padding: 0 8px;
}

.product:last-child {
    border-right: none;
}

.product__targets,
.product__use {
    font-size: 11px;
    list-style-type: none;
    margin-bottom: 32px;
}

.product__targets li::before,
.product__use li::before {
    content: "\2014";
    margin-right: 8px;
}

.product__targets li
.product__use li {
    margin-bottom: 8px;
}

.selected {
    background: #000;
}

.selected .product__name,
.selected .product__targets,
.selected .product__targets li::before {
    color: #FFF;
}

.product__ampm {
    display: flex;
    flex-direction: row;
}

.product__ampm img {
    width: 30px;
    margin-right: 8px;
}


.hide {
    display: none;
}

.button__plus {
    outline: none;
    border: none;
    background: none;
    padding: 12px 20px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 140px;
    bottom: 40px

}

.button__plus svg {
    width: 20px;
    height: 20px;
}

.button__plus svg path {
    fill: #DD7373;
}

.product-modal {
    width: 500px;
    height: 500px;
    z-index: 9999;
    position: absolute;
    left: 40%;
    top: 20%;
    background: white;
    border: 1.5px solid black;
    -webkit-box-shadow: 10px 10px 0px 5px #DD7373;; 
    box-shadow: 10px 10px 0px 5px #DD7373;;
    border-radius: 4px;
    padding: 16px 32px;
    overflow-y: auto;
    font-size: 14px;
}

.product-modal__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

button > svg {
    pointer-events: none;
  }


  .routine .product {
      background: white;
      border-bottom: none;
      height: 200px
  }

  .routine .routine__products {
   display: flex;
   align-items: center;
}

.product__category {
    display: none;
}

.routine .product__category {
    display: block;
}


.add__evening,
.add__morning {
   border: none;
   background: none;
   min-width: 119px;
   padding: 12px 24px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   border: 1.5px solid black;
   border-radius: 4px;
}

.add__morning {
   background: #FFFBEB;
}

.add__evening {
    background: #020887;
    color: white;
}

.routine-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 80px;
}

.additional-details {
    display: flex;
    justify-content: space-evenly;
}

.additional-details ul {
    padding: 0;
}

.additional-details div {
    padding: 12px;
    width: 45%;
}

.additional-details p {
    font-weight: 700;
}

.additional-details li {
    font-size: 14px;
}



.product-modal .product__category {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 32px;
}


.routine .product .product__ampm {
    display: none;
}

.routine .product .product__name {
    margin-top: 2em;
    min-height: 40px
}

.routine .product__targets {
    margin-bottom: 0;
    min-height: 40px;
}

.routine .button__plus {
    left: 140px;
    bottom: 0px;
}